/****** CARD STYLE *******/
.cardProduct {
    width: 100%;
    border: 1px solid #0081A7;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    padding: 25px;
}

.cardProduct_Img {
    width: 100%;
    height: 60%;
    border-radius: 25px;
}

.cardProduct_Img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    cursor: pointer;
}

.cardProduct_Img img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.cardProduct_Content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    padding: 20px;

    color: #fff;
    background-color: #0081A7;
    border-radius: 25px;
    overflow: hidden;
}

.cardProduct_Content h3 {
    font-size: 25px;
    font-weight: 600;
}

.cardProduct_text {
    text-align: center;
    white-space: collapse;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 50px;
    width: 100%;
}

.price {
    font-size: 25px;
    font-weight: 600;
}

.cardProduct_Button {
    display: flex;
    align-items: center;
    gap: 15px;
}

.fa-circle-plus {
    color: #fff;
    font-size: 40px;
    align-self: flex-end;
    cursor: pointer;
}

.fa-circle-plus:hover {
    color: #EEA08F;
}