/****** HERO STYLE *******/
.hero {
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero_img {
    background-color: #0081A7;
    width: 100%;
    height: 100%;
}

.hero_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

.hero_content {
    position: absolute;
    max-width: 60%;
    text-align: center;
}

.hero_content h1 {
    font-size: 54px;
    color: #fff;
}