/****** MODAL STYLE *******/
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup:target {
    display: block;
}

.popup_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    background-color: #fefefe;
    margin: 300px auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 25px;
}

.popup_content h2 {
    color: #EEA08F;
}

.popup_content p {
    color: #222222;
}

.buttons_popup {
    display: flex;
    flex-direction: row;
    gap: 20px;
}