/****** PROFIL STYLE *******/
.profil {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
}

.content_profil {
    text-align: center;
    width: 60%;
}

.profil h1 {
    text-align: center;
    color: #0081A7;
}

.profil h2 {
    color: #EEA08F;
    margin-bottom: 10px;
}

.info_profil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: 1px solid #0081A7;
    padding: 20px;
    border-radius: 25px;
}

.info_profil h3 {
    color: #0081A7;
}

.img_profil {
    width: 40%;
    overflow: hidden;
    border-radius: 25px;
}

.img_profil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details_profil {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons_profil {
    display: flex;
    gap: 20px;
}