/****** WELCOME PAGE STYLE *******/
.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    text-align: center;
    gap: 20px;
}

.welcome h1 {
    color: #0081A7;
}